* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid pink;
}

.contact {
    button {
        border: none;
        padding: 0.6rem 3rem;
        border-radius: 20px;
        color: whitesmoke;
        background-color: black;
        cursor: pointer;
        font-size: 1.2rem;

    }
    :hover {
        color: black;
        background-color: whitesmoke;
        transition: all 0.25s ease;
        border: 1px solid black;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-links {
    display: flex;
    flex-direction: column;
    background-color: black;

    h3 {
        text-align: center;
        font-size: 2rem;
        color: rgb(254, 214, 11);
    }

    ul  {
        display: flex;
        justify-content: space-around;

        li {
            list-style: none;
            color: whitesmoke;
        }
    }
}

.details-links {
    background-color: grey;
    display: flex;
    justify-content: space-around;

    h3 {
        text-align: center;
        font-size: 2rem;
        color: rgb(254, 214, 11);
    }

    ul {
        li {
            list-style: none;
        }
    }

}